.coliseum {
    display: flex;
    flex-direction: column;
    user-select: none;
    height: 100%;

    game {
        height: 90%;
        flex-basis: 90%;
        max-height: 90%;
    }

    tooltips {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
    }
}