.coliseum {
	position: relative;
	display: flex;
	flex-direction: column;
	user-select: none;
	-moz-user-select: none;

	game {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	tooltips {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		pointer-events: none;
	}

	seeker {
		height: 20px;
	}

	turn-narrator {
		height: 50px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	controls {
		height: 40px;
	}

	&.wide {
		&::before {
			padding-top: 56%;
		}
		::ng-deep tooltips tooltip {
			width: 15%;
		}
	}

	::ng-deep * {
		user-select: none;
		-moz-user-select: none;
	}
}

.aspect-ratio-wrapper {
	position: relative;
}

.aspect-ratio-wrapper.ar-16x9 {
	padding-bottom: 56.25%;
}

.aspect-ratio-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.manastorm-player-wrapper {
	background-color: black;
}

.manastorm-player {
	margin: 0 auto;
	width: 100%;
	max-width: calc((100vh - 150px) * 16 / 9);
	display: flex;
	flex-direction: column;
}
