.coliseum {
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;
    // height: 100%;
    
	&::before {
		content: "";
		padding-top: 120%;
		position: relative;
		display: block;
	}

    game {
        position: absolute;
        top: 0;
        bottom: 24px;
        left: 0;
        right: 0;
    }

    tooltips {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
    }

    turn-narrator {
        height: 24px;
    }
}