@import '../../../global/variables';

.attack {
    &.buff {
        color: $buff;
    }
    &.debuff {
        color: $damage;
    }
}

.health {
    &.buff {
        color: $buff;
    }
    &.damaged {
        color: $damage;
    }
}