.card-on-board {
    position: relative;
    height: 100%;
    width: 100%;
    
	&::before {
		content: "";
		padding-top: 148%;
		position: relative;
		display: block;
    }
    
    ::ng-deep .card-art {
        width: 123%;
        clip-path: ellipse(33% 41% at 50% 50%);
        top: 0;        
        left: 0;           
    }
}