$text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
$text-shadow-fat: -2px -2px 0 #000, 0px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 2px 0 #000;

$buff: #31C331;
$damage: red;

$innerGlow: #86F953;
$outerGlow: #659B29;
$innerComboGlow: #FFFF7A;
$outerComboGlow: #DCD31A;
$glowSize: 0.1em;
$glowSizeFat: 0.2em;