.hero {
    position: relative;
    display: flex;
    width: 100%;

    hero-card {
        position: absolute;
        top: 0;
        // left: 42.5%;
        // width: 16%;
        left: 45.5%;
        width: 9%;
        height: 100%;
    }

    hero-power {
        position: absolute;
        // top: 0;
        // left: 60%; 
        // width: 13%;
        height: 100%;
        top: 10%;
        left: 55%;
        width: 7%;
    }
}