.game {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    background-image: url(http://static.zerotoheroes.com/hearthstone/asset/manastorm/game-board-bg.png), url(http://static.zerotoheroes.com/hearthstone/asset/manastorm/app-bg-wood.jpg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;

    board {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
    }
}