.play-area {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    
    hand {
        height: 37%;
        max-height: 37%;
        flex-basis: 37%;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        overflow: hidden;
    }

    hero {
        height: 35%;
        max-height: 35%;
        flex-basis: 35%;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        overflow: hidden;
    }

    board {
        height: 28%;
        max-height: 28%;
        flex-basis: 28%;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        overflow: hidden;
    }
}

:host.bottom {
    board {
        order: 1;
    }
    hero {
        order: 2;
    }
    hand {
        order: 3;
    }
}

:host.top {
    ::ng-deep .mana-tray {
        bottom: 41%;
    }
}